<section class="principal" *ngIf="filme !== undefined">
    <div class="cont-detalhe">
        <div class="col1">
            <div class="cont-img">                
                <img [src]="filme.poster[0].url" alt="">
            </div>
        </div>
        <div class="col2">
            <h3>{{filme.nome}}</h3>
            <p><strong>Ano:</strong> {{filme.ano}}</p>
            <p><strong>Diretor:</strong> {{filme.diretor}}</p>
            <p><strong>Gênero:</strong> {{filme.genero}}</p>
            <p><strong>Descricao:</strong> {{filme.descricao}}</p>
            <div class="cont-btn">
                <button>Trailer</button>
                <button routerLink="/">Voltar</button>
            </div>            
        </div>
    </div>
</section>