/* MENU */

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  background-color: #050505;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 70px;
  height: 70px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  color: orange!important;
  transition: all .2s;
}

a i:hover {
  color: orange!important;
  transition: all .2s;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  box-shadow: 1px 1px 5px #2e2e2e8a;
}

.logo {
  font-size: 28px;
  padding: 20px;
  margin-left: 150px;
  font-weight: bold;
  color: white;
}

nav ul {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

nav li {
  padding: 20px 0;
}

nav li a {
  color: white;
  padding: 20px 12px;
  font-size: 14px;
  text-transform: uppercase;
}

.social {
  display: flex;
  width: 200px;
  text-align: center;
  justify-content: center;
  margin-right: 150px;
  margin-bottom: 0;
}

.social i {
  color: white;
  font-size: 28px;
  margin-right: 15px;
}

/* BOTÃO DO MENU RESPONSIVO */

.checkbtn {
  font-size: 30px;
  color: black;
  margin-right: 40px;
  cursor: pointer;
  display: none;
  margin-top: 8px;
}

#check {
  display: none;
}

/* CAMPO DE PESQUISA */

.pesquisa {
  position: fixed;
  top: 70px;
  height: 60px;
  z-index: 999;
  background-color: #1b1b1b;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.pesquisa input {
  width: 100%;
  margin: 0 250px;
  height: 30px;
  border: none;
  border-radius: 10px;
  padding: 5px 20px;
  background-color: #d8d8d8;
  color: #181818;
}

.pesquisa input:focus {
  outline-style: none;
}

/* LISTA DO CAMPO DE PESQUISA */

.cont-lista {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: -10px;
  z-index: 9999;
  position: fixed;
  padding: 10px;
}

.lista-pesquisa {
  color: #181818;
  width: 100%;
  margin: 0 240px;
  background-color: #eeeeee;
  border-radius: 5px;
  font-size: 18px;
}

.lista-pesquisa li {
  padding: 5px 0 3px 20px;
}

.lista-pesquisa li a{
  color: #181818;
}

/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
  /* MENU SUPERIOR */
  header {
    padding: 0 15px;
  }
  .logo {
    margin-left: 0;
  }
  .checkbtn {
    display: block;
    margin-right: 18px;
  }
  .checkbtn i {
    color: white;
    font-size: 30px;
  }
  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #181818;
    top: 54px;
    left: -100%;
    transition: all .5s;
    display: flex;
    flex-direction: column;
    text-align: start;
    padding-top: 15px;
  }
  nav ul li {
    display: block;
    line-height: 20px;
  }
  nav ul li a {
    flex-direction: column;
    font-size: 20px;
    padding-left: 50px;
  }
  #check:checked~ul {
    left: 0;
  }
  .social {
    display: none;
  }
  /* CAMPO DE PESQUISA */
  .pesquisa input {
    width: 81%;
    margin: 0 35px;
  }
}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767.98px) {
  /* MENU SUPERIOR */
  header {
    padding: 0 15px;
  }
  .logo {
    margin-left: 0;
  }
  .checkbtn {
    display: block;
    margin-right: 18px;
  }
  .checkbtn i {
    color: white;
    font-size: 30px;
  }
  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #181818;
    top: 54px;
    left: -100%;
    transition: all .5s;
    display: flex;
    flex-direction: column;
    text-align: start;
    padding-top: 10px;
  }
  nav ul li {
    display: block;
    line-height: 20px;
  }
  nav ul li a {
    flex-direction: column;
    font-size: 20px;
    padding-left: 50px;
  }
  #check:checked~ul {
    left: 0;
  }
  .social {
    display: none;
  }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {
  header {
    padding: 0 15px;
  }
  .logo {
    font-size: 30px;
    margin-left: 0;
  }
  nav ul {
    align-items: center;
    margin-right: 20px;
  }
  nav ul li {
    font-size: 18px;
  }
  .social {
    display: none;
  }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199.98px) {
  header {
    padding: 0 15px;
  }
  .logo {
    font-size: 30px;
    margin-left: 0;
  }
  nav ul {
    align-items: center;
    margin-right: 20px;
  }
  nav ul li {
    font-size: 18px;
  }
  .social {
    margin-right: 10px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
  nav ul {
    align-items: center;
    margin-right: 20px;
  }
  nav ul li {
    font-size: 18px;
  }
  .social {
    padding-right: 20px;
  }
}