<!-- MENU SUPERIOR -->
<header>
  <a href="#" class="logo">Blockbuster</a>
  <nav>
    <input type="checkbox" id="check">
    <ul>
      <li><a href="">Ação</a></li>
      <li><a href="">Comédia</a></li>
      <li><a href="">Terror</a></li>
      <li><a href="">Ficção científica</a></li>
      <li><a href="">Todos</a></li>
    </ul>
    <label for="check" class="checkbtn">
      <i class="fa fa-bars"></i>
    </label>
  </nav>
  <ul class="social">
    <li><a href=""><i class="fab fa-youtube"></i></a></li>
    <li><a href=""><i class="fab fa-facebook-square"></i></a></li>
    <li><a href=""><i class="fab fa-instagram"></i></a></li>
    <li><a href=""><i class="fab fa-twitter-square"></i></a></li>
  </ul>
</header>
