.cont-tabela {
  box-shadow: 2px 4px 25px 3px #c3c3c3;
  padding: 10px;
  margin-top: 20px;
  width: 98%;
}

.tabela {
  width: 100%;
}

h3 {
  text-align: right;
  margin-right: 20px;
}

.acao {
  width: 55px;
  display: flex;
  justify-content: space-between;
  margin-left: -5px;
}

.edit {
  color: #fda137;
  font-size: 19px;
  transition: all .2s;
}

.edit:hover{
  color: #d67505;
}

.delete {
  color: #e90303;
  font-size: 19px;
  transition: all .2s;
}

.delete:hover{
  color: #aa0303;
}

.topo{
  border-bottom: 1px solid #c3c3c3;
}

th {
  text-align: left;
  border-bottom: 1px solid #c3c3c3;
  padding-bottom: 10px;
}

td{
  padding: 10px 0;
  border-bottom: 1px solid #e2e2e2;
}

.input-nome{
  width: 300px;
  margin: 10px;
  height: 22px;
  border: 1px solid #c4c4c4;
  padding: 3px 10px;
}

.input-nome:focus{
  outline-style: none;
}

.paginação{
  width: 100%;
  text-align: end;
  margin-top: 20px;
}

