<div class="cont-tabela">

  <input type="text" class="input-nome" [(ngModel)]="nome" placeholder="Pesquisar usuário por nome"
    (ngModelChange)="pesquisarUsuario()">
  <table class="tabela">
    <thead>
      <tr>
        <th (click)="sort('id')">ID &nbsp;<i class="fas fa-sort"></i></th>
        <th (click)="sort('nome')">Nome &nbsp;<i class="fas fa-sort"></i></th>
        <th>E-mail</th>
        <th>Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios | orderBy: key: reverse | paginate: {itemsPerPage:10, currentPage:p}">
        <td>{{usuario.id}}</td>
        <td>{{usuario.nome}}</td>
        <td>{{usuario.email}}</td>
        <td>
          <div class="acao">
            <a [routerLink]="['/principal/update-usuario', usuario.id]" class="edit"><i class="fas fa-edit" title="editar"></i></a>
            <a [routerLink]="['/principal/delete-usuario', usuario.id]" class="delete"><i class="fas fa-trash-alt" title="excluir"></i></a>
          </div>
        </td>
      </tr>
      <tr>
    </tbody>
  </table>

  <div class="paginação">
    <pagination-controls (pageChange)="p =$event" previousLabel="Anterior" nextLabel="Próximo"></pagination-controls>
  </div>

</div>
