<div class="cont-tabela">
  <input type="text" class="input-nome" [(ngModel)]="nome" placeholder="Pesquisar filme"
    (ngModelChange)="pesquisarFilme()">
  <table class="tabela">
    <thead>
      <tr>
        <th (click)="sort('id')">ID &nbsp;<i class="fas fa-sort"></i></th>
        <th (click)="sort('nome')">Nome &nbsp;<i class="fas fa-sort"></i></th>
        <th>Gênero</th>
        <th>Ano</th>
        <th>Diretor</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let filme of filmes | orderBy: key: reverse | paginate: {itemsPerPage:10, currentPage:p}">
        <td>{{filme.id}}</td>
        <td>{{filme.nome}}</td>
        <td>{{filme.genero}}</td>
        <td>{{filme.ano}}</td>
        <td>{{filme.diretor}}</td>
      </tr>
      <tr>
    </tbody>
    <pagination-controls (pageChange)="p =$event"></pagination-controls>
  </table>

</div>
