.tabela {
  width: 100%;
  margin-top: -10px;
}

h3{
  text-align: right;
  margin-right: 20px;
}

.acao {
  width: 60px;
  display: flex;
  justify-content: space-between;
}

.edit {
  color: rgb(255, 100, 43);
  font-size: 18px;
}

.delete {
  color: rgb(180, 4, 4);
  font-size: 18px;
}

.th-tabela{
  font-size: 18px;
}

.mensagem-nula{
  margin-top: 20px;
}
