<div class="cont-tabela">
  <input type="text" class="input-nome" [(ngModel)]="nome" placeholder="Pesquisar filme"
    (ngModelChange)="pesquisarFilme()">
  <table class="tabela">
    <thead>
      <tr>
        <th (click)="sort('id')">ID &nbsp;<i class="fas fa-sort"></i></th>
        <th (click)="sort('nome')">Nome &nbsp;<i class="fas fa-sort"></i></th>
        <th>Gênero</th>
        <th>Ano</th>
        <th>Diretor</th>
        <th>Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let filme of filmes | orderBy: key: reverse | paginate: {itemsPerPage:10, currentPage:p}">
        <td>{{filme.id}}</td>
        <td>{{filme.nome}}</td>
        <td>{{filme.genero}}</td>
        <td>{{filme.ano}}</td>
        <td>{{filme.diretor}}</td>
        <td>
          <div class="acao">
            <a class="edit" [routerLink]="['/principal/update-filme',filme.id]"><i class="fas fa-edit" title="editar"></i></a>
            <a class="delete" [routerLink]="['/principal/delete-filme',filme.id]"><i class="fas fa-trash-alt" title="excluir"></i></a>
          </div>
        </td>
      </tr>
      <tr>
    </tbody>
  </table>

  <div class="paginação">
    <pagination-controls (pageChange)="p =$event"></pagination-controls>
  </div>

</div>
