.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    background-color: black;
    position: relative;
    bottom: 0;
}

.footer p{
    margin-bottom: 0;
    color: #a5a5a5;
}